body{
    background-color: wheat;
}

.btn {
    cursor: pointer;
}

body {
    color: aquamarine;
}
.clicked {
    color: ivory;
}

.form,
.greetings {
    display: none;
}

.showing{
    display: block;
}